.container { 
	width: 710px; 
	color: #888;
} 

.container h1 {
	color: #ccc;
}

body { 
	background: #000; 
} 

#header { 
	padding-top: 20px; 
} 

#header img { 
	padding: 1em; 
	width: 60%;
}

.navigation {
	float: right;
	padding: 0 0.7em;
	white-space: nowrap;
}

ul.navigation {
	margin: 0;
}

.navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

.navigation li a {
	padding: 0 5px;
	font-weight: bold;
}

.navigation li a:hover { 
	text-decoration: underline; 
}

#content { 
	margin-top: 1em; 
	font-size: 120%; 
	padding: 20px;		
	background-color: #222; 
} 

#footer { 
	text-align: center; 
	margin-top: 10px; 
	width: 710px; 
	margin-left: auto; 
	margin-right: auto; 
}
 
#footer .navigation { 
	float: none; 
}

/* Links */ 
a { 
	color: #777; 
	text-decoration: none; 
} 

a:hover { 
	color: #aaa; 
	text-decoration: underline; 
}

a.signup_button { 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	text-align: center; 
	width: 190px; 
	color: #fff; 
	background: #006400; 
	font-size: 150%; 
	font-weight: bold; 
	padding: 20px; 
}

.round { 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 5px;
}