<div id="header"> 
  <ul class="navigation round"> 
    <li><%= link_to "Home", root_path %></li> 
    <li><%= link_to "Help", help_path %></li> 
    <li><%= link_to "Sign in", signin_path %></li> 
  </ul> 
  <%= 
    logo = image_tag "logo.png", :alt => "Setlist", :class => "logo round"
    link_to logo, root_path 
  %> 
</div>